@import url("reset.css");

.content * {
    color: #7B68EE;

}

.subtitle {
    color: #696969;
}

#part-2 {
    color: red;
}

h3 {
    color: green;
}

div.text {
    color: aqua;
}

.text-2.text-3 {
    color: #DA70D6;
}

.text-3 .subsubtitle-3 {
    color: #00FF00;
}

.subsubtitle-4 span {
    color: #CD853F;
}

.articles * {
    color: #FF1493;
}

.subsubtitle-5>p {
    color: #808000;
}

.subsubtitle-5~li {
    color: #FFD700;
}

.subsubtitle-6+span {
    color: #FF00FF;
}