/* @import url("https://fonts.googleapis.com/css?family=Noto+Sans:100,200,regular&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Rubik+Scribble:regular&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Golos+Text:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron:500&display=swap");
@import url("fonts.css");
@import url("reset.css");

header,
footer {
    padding-top: 30px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 30px;
    color: whitesmoke;
    background-color: rgb(224, 220, 212);
    text-align: center;
    height: 100px;
}


.container {
    padding-top: 30px;
    background-color: black;
    color: white;
    height: 400px;
}

.sub_container {
    max-width: 992px;
    margin: 0 auto;
    font-family: "Exo", sans-serif;
}

.title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.16;
    text-transform: uppercase;
    width: 400px;
    margin: 0 auto;
}

.title::after {
    margin-top: 20px;
    margin-left: -35px;
    width: 95%;
    display: block;
    height: 1px;
    content: "";
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 50%, rgba(36, 0, 255, 1) 100%);
}

.text {
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1px;

}

.options {
    padding-top: 50px;
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    max-width: 1150px;
    margin: 0 auto;
}

.list_options {
    display: inline-block;
    background: url("../img/Ellipse.png") 85% 50%/ auto no-repeat;
    padding-right: 120px;
}

.contacts {
    background: black;
    /* max-width: 959px; */
    color: #fff;
    font-size: 20px;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding-right: 40px;
}

.item_1 {
    display: inline-block;
    background: url("../img/Call.png")0 0 / auto no-repeat;
    padding-left: 30px;
    padding-right: 80px;
}

.item_2 {
    display: inline-block;
    background: url("../img/Location.png")0 0 / auto no-repeat;
    padding-left: 30px;
    padding-right: 80px;
}

.item_3 {
    display: inline-block;
    background: url("../img/Email.png") 0 40% / auto no-repeat;
    padding-left: 30px;
    padding-right: 80px;
}

.krovatto {
    margin: 0 auto;
    max-width: 1070px;
    font-family: "Proxima Nova", sans-serif;
    color: #2b2929;
    margin-top: 50px;
    font-weight: 400;
}

.subtitle {

    line-height: 48px;
    font-size: 40px;
}

.text_main {
    color: #2b2929;
    font-size: 16px;
    line-height: 30px;
    margin-top: 40px;
}

.text_main>p {
    padding-bottom: 10px;
}

h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 20px;
}

.list_2 {
    margin-top: 30px;
}

.list_main {
    background: url("../img/mark.png") no-repeat;
    padding-left: 40px;
    line-height: 30px;
}

.list_main:not(:last-child) {
    margin-bottom: 10px;
}

.game {
    margin: 30px 30px;
    background: url("../img/space_girl.jpeg") 50px 0/ 100% no-repeat;
    height: 500px;
    color: white;
}

/* .game-1 {
    padding: 0 15px; */
/* margin: 0 auto; 
}*/

.game-2 {
    text-align: center;
}

.game-2 h2 {
    font-family: "Nyght Serif Dark", sans-serif;
    font-weight: 800;
    font-size: 40px;
    padding: 10px 0;
    color: palevioletred;
}

.game-1 ul {
    display: inline-block;
}

.li-1 {
    width: 30px;
    height: 30px;
    background-color: rgb(35, 224, 25);
    font-size: 10px;
    padding-top: 10px;
}

.li-2 {
    width: 700px;
    height: 30px;
    background-color: purple;
    visibility: hidden;
}

.li-1:hover+.li-2,
.li-2:hover {
    visibility: visible;
}

.li-2:hover {
    visibility: visible;
}

.li-3 {
    width: 30px;
    height: 100px;
    background-color: palevioletred;
    margin-left: 670px;
    visibility: hidden;
}

.li-2:hover+.li-3,
.li-3:hover {
    visibility: visible;
}

.li-4 {
    width: 300px;
    height: 30px;
    background-color: rgb(90, 12, 38);
    margin-left: 400px;
    visibility: hidden;
}

.li-3:hover+.li-4,
.li-4:hover {
    visibility: visible;
}

.li-5 {
    width: 30px;
    height: 200px;
    background-color: powderblue;
    margin-left: 400px;
    visibility: hidden;
}

.li-4:hover+.li-5,
.li-5:hover {
    visibility: visible;
}

.li-6 {
    width: 30px;
    height: 30px;
    background-color: red;
    margin-left: 400px;
    font-size: 10px;
    padding-top: 10px;
    /* visibility: hidden; */
}

.li-5:hover+.li-6,
.li-6:hover {
    visibility: visible;
}

.elements {
    font-family: "Proxima Nova", sans-serif;
    font-size: 20px;
    color: grey;
    max-width: 1250px;
}



h4 {
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
}

.main-elements ul {
    display: inline-block;
    margin-top: 20px;
}

.element-li {
    display: inline-block;
    background: black;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.element-li:hover {
    text-decoration: underline;
}

.element {
    display: inline-block;
}

.element-li-2 {
    display: inline-block;
    background: black;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.element-li-2:active {
    color: yellow;
}

.element-li-3 {
    display: inline-block;
}

.element-li-4 {
    display: inline-block;
    background: black;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.element-li-4:visited {
    color: blue;
}

.element-li-5 {
    display: inline-block;
}

.element-6 {
    display: inline-block;
    padding-left: 10px;
}

.element-li-7,
.element-li-8 {
    display: inline-block;
    background-color: lightblue;
    border-radius: 30px;
    width: 20px;
    text-align: center;
}

.element-6 li:first-child {
    background-color: yellow;
}

.element-li-9 {
    display: inline-block;
}

.element-10 {
    display: inline-block;
    padding-left: 10px;
    margin-top: 10px;
}

.element-li-11,
.element-li-12,
.element-li-13 {
    display: inline-block;
    background-color: lightblue;
    border-radius: 30px;
    width: 20px;
    text-align: center;
}

.element-10 li:first-of-type {
    background: yellow;
}

.element-li-14 {
    display: inline-block;
}

.element-15 {
    display: inline-block;
    padding-left: 10px;
    margin-top: 10px;
}

.element-li-16,
.element-li-17,
.element-li-18,
.element-li-19 {
    display: inline-block;
    background-color: lightblue;
    border-radius: 30px;
    width: 20px;
    text-align: center;
}

.element-15 li:last-child {
    background: yellow;
}

.element-li-20 {
    display: inline-block;
}

.element-21 {
    display: inline-block;
    padding-left: 10px;
    margin-top: 10px;
}

.element-li-22,
.element-li-23,
.element-li-24,
.element-li-25 {
    display: inline-block;
    background-color: lightblue;
    border-radius: 30px;
    width: 20px;
    text-align: center;
}

.element-21 li:last-of-type {
    background: yellow;
}

.element-li-26 {
    display: inline-block;
}

.example-text {
    padding-left: 10px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 20px;
    color: grey;
    margin-top: 20px;
}

.example-text p:nth-child(1) {
    background: lightgray;
}

.example-text-1 {
    padding-left: 10px;
    margin-top: 20px;
}

.example-text-1 p:not(:first-child) {
    background: gainsboro;
}

.example-text-2 {
    font-family: "Nyght Serif Dark", sans-serif;
    font-size: 20px;
    margin: 10px;
    color: grey;
}

.example-text-2:hover::before {
    content: "";
    text-decoration: underline;
}