@import url("https://fonts.googleapis.com/css?family=Rubik+Gemstones:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:100,200,regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik+Scribble:regular&display=swap");

@import url("fonts.css");
@import url("reset.css");


.title {
    background-color: blueviolet;
    font-family: "Noto Sans", sans-serif;
    font-size: 45px;
    color: aliceblue;
    text-align: center;
}

.part_1 {
    background-color: beige;
}

.outline {
    display: inline-block;
    outline: 5px dashed magenta;
    margin: 25px;
    vertical-align: top;
}

.padding,
.margin,
.overflow {
    font-family: "Proxima Nova", sans-serif;
    font-size: 24px;
    max-width: 200px;
}

.padding {
    display: inline-block;
    background-color: blanchedalmond;
    padding: 40px;
}

.margin {
    display: inline-block;
    background-color: blue;
    margin: 20px 100px;
    vertical-align: top;
}

.border {
    display: inline-block;
    border: 25px orange solid;
    border-radius: 20px;
    vertical-align: top;
}

.overflow {
    display: inline-block;
    background-image: url("../img/pattern.jpg");
    margin-left: 70px;
    max-width: 100px;
    overflow: hidden;
}

.text {
    display: inline-block;
    max-width: 300px;
    height: 200px;
    overflow: scroll;
    background-color: #f8efc4;
    margin-top: 40px;
    margin-left: 170px;
}

.text_1 {
    display: inline-block;
    max-width: 300px;
    height: 200px;
    overflow: auto;
    background-color: #f8efc4;
    margin-top: 40px;
    margin-left: 170px;
}

.box {
    background-image: url("../img/transparency.jpg");
    box-shadow: 10px 10px 10px 10px gray;
    width: 1200px;
    height: 200px;
    margin: 100px 40px;
}

.no_repeat {
    display: inline-block;
    background-image: url("../img/glass.avif");
    width: 800px;
    height: 500px;
    background-repeat: no-repeat;
    margin-left: 300px;
}

.main_2 {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    width: 800px;
    height: 400px;
    font-family: "Rubik Scribble";
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 50px;
    margin-left: 220px;
    margin-bottom: 20px;
}

.main_2:hover {
    text-decoration: underline;
}